templates/
config/credentials.json
config/token.json
config/user_config.json

config/.env
config/memory.db

__pycache__/
*.pyc

output/
.DS_Store

docs/Testing.txt
docs/test_cases.txt

test/
templates/